export(
	'NanoStringNorm',
	'probe.correction.factor.normalization',
	'code.count.normalization',
	'background.normalization',
	'sample.content.normalization',
	'other.normalization',
	'get.geo.mean',
	'get.beta.se.and.p',
	'get.mean.sd.and.cv',
	'output.formatting',
	'get.ttest.and.foldchange',
	'get.trait.summary.stats',
	'get.gene.summary.stats',
	'get.sample.summary.stats',
	'Plot.NanoStringNorm'
	)
