export(
	'NanoStringNorm',
	'Plot.NanoStringNorm',
	'Plot.NanoStringNorm.gvis',
	'read.xls.RCC',
	'read.markup.RCC',
	'other.normalization',
	'norm.comp',
	'nsn'
	)

importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "box", "hist", "legend",
         "lines", "mtext", "par", "plot", "points", "segments",
         "text")
importFrom("methods", "is")
importFrom("stats", "aov", "coef", "cor", "density", "lm", "lowess",
         "median", "na.omit", "p.adjust", "qnorm",
         "quantile", "resid", "sd", "t.test")
importFrom("utils", "download.file", "packageDescription",
         "read.table")
importFrom("vsn", "predict")

import(
    'gdata'
	)



#	'probe.correction.factor.normalization',
#	'code.count.normalization',
#	'background.normalization',
#	'sample.content.normalization',
#	'get.beta.se.and.p',
#	'get.mean.sd.and.cv',
#	'output.formatting',
#	'get.batch.effects',
#	'get.ttest.and.foldchange',
#	'get.trait.summary.stats',
#	'get.gene.summary.stats',
#	'get.sample.summary.stats',
#	'get.geo.mean',
#	'other.normalization'
#	)
